{% extends 'WEDOCAL/layout.html' %}
{% block body %}
<form class="" method="post" >
  {% csrf_token %}
  <fieldset>
    <legend class='m-1 p-4 text-danger border-bottom border-danger' style="font-weight:bold; letter-spacing: 0.6em; text-transform:uppercase;">Nouvel Dose</legend>
  </fieldset>
  <div class="container text-danger">
  <div class="row">
    <div class="col-sm">
      <div class='m-2'style='width:10%;display:inline-block'>
      <label for="">Dose</label>
      {{form.dose_value}}
    </div>
    <div class='m-2' style='display:inline-block'>
      <label for="">Date</label>
      {{form.dose_date}}
    </div>
    <div class='m-2' style='height10%;display:inline-block'>
      <label for="">Responsable</label>
      {{form.commenter}}
    </div>
    </div>
    <div class="col-sm">
      <div class='m-2' style='display:inline-block'>
      <label for="">Commentaire</label>
      {{form.comment}}
    </div>
    </div>

  </div>
</div>

    <div class='m-3 text-danger border-bottom border-danger' class="" style="display:flex-block ;font-weight:bold; letter-spacing: 0.1em;">
      <button type="submit" class="btn btn-outline-danger mb-2">Enregister</button>
    </div>

</form>
{% endblock body %}
