<!-- {% load static %} -->
<!doctype html>
<html lang="en">
{% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" href='{%static "WEDOCAL/css/layout.css" %}'>
    <link rel="stylesheet" href='{%static "WEDOCAL/css/bootstrap.min.css" %}' integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" href={% static "WEDOCAL/png/logo.png" %}>
    <title>WeDoCal</title>
  </head>
  <body>
        <div id='navigation-bar'>
            <span class="left-span mt-1">
                <a href="{% url 'WeDoCal' %}" id='wedocal'> WeDoCal</a>
            </span>
            <span class='right-span'>
                <ul id=navigation-item>
                    <li><a href="" id="about">Aide</a></li>
                    <li><a href="">A propos</a></li>
                    <li><a href="{% url 'check' %}">Consulter</a></li>
                    <li><a href="{% url 'register' %}">S'inscrire</a></li>
                </ul>
            </span>
        </div>
        <div id='body-div' style="text-align:center">
          {% block body %}

                <!-- The dots/circles -->
              {% endblock body %}
        </div>
        <div id='foter-bar'>
            &copy; AIA
        </div>
        <script src='{% static "WEDOCAL/js/layout.js" %}'></script>

  </body>
</html>
