{% extends 'WEDOCAL/layout.html' %}
{% block body %}
<form class="" method="post" >
  {% csrf_token %}
  <fieldset>
    <legend class='m-3 p-4 text-danger border-bottom border-danger' style="font-weight:bold; letter-spacing: 0.6em; text-transform:uppercase;">Consulter votre Dose</legend>
  </fieldset>
  <div class="text-danger m-3" style="display:flex-block;font-weight:bold; letter-spacing: 0.1em; text-align:center">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger">
      {{message}}
    </div>
    {% endfor %}
    {% endif %}
    <div class='m-3' style='width:15%;display:inline-block'>
      <label for="">CIN</label>
      {{form.cin}}
    </div>
    <!-- <div class='m-3' style='width:15%;display:inline-block'>
      <label for="">Date de Naissance</label>
      {{form.birthdate}}
    </div> -->

  <div class='m-3 text-danger' class="" style="display:flex-block ;font-weight:bold; letter-spacing: 0.1em;">
    <button type="submit" class="btn btn-outline-danger">Consulter</button>
  </div>
  <div class="border-top pt-3 border-danger ">
    <small class='text-info'>
      Je n'ai pas deja un compte | <a href="{% url 'register' %}" class="m-2">S'inscrire</a>
    </small>
  </div>
</form>
{% endblock body %}
