{% extends 'WEDOCAL/layout.html' %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col">
      <div id="chart">
        <embed type="image/svg+xml"  width="auto" src= '{{ chart|safe }}' />
    </div>
    </div>
    <div class="col text-danger">
      <ul style='list-style:none;'>
        <li class="mt-4">Nom : <strong>{{patient.name}}</strong></li>
        <li class="mt-4">Age :  <strong>{{age}} ans</strong></li>
        <li class="mt-4">CYP2C9:  <strong>{{patient.haplo}}</strong></li>
        <li class="mt-4">VKORC1 1173:  <strong>{{patient.v7}}</strong></li>
        <li class="mt-4">VKORC1 1639:  <strong>{{patient.v6}}</strong></li>
      </ul>
      <p>La derniere dose attrebue est de  <strong>{{final_dose.dose_value}}</strong> en  <strong>{{final_dose.dose_date}}</strong></p>

       <p>La derniere dose calcule est de  <strong>{{calc_dose}}</strong> </p>
       <div class="border-top pt-3 border-danger ">
     <small class='text-info'>
     <a href="#" class="m-2">Modifier Votre Profile</a>
     |
     <a href="{% url 'dose-create' patient.id %}" class="m-2">Nouvel Dose</a>
     |
     <a href="{% url 'dose-create' patient.id %}" class="m-2">Historique des Dose</a>
     </small>
   </div>
  </div>
</div>

{% endblock body %}
