html, body{
    height: 100%;
}
.body-div{
    height: 50vh;
}
#navigation-bar{
    width:100%;
    height:10%;
    background-color:#d42121;
    top: 0%;
    position: fixed;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    justify-content: center;

}
#navigation-bar ul {
    margin:auto;
    padding:0;
    margin-top:2%;
}

#navigation-bar ul li{
    display:inline;
    height:100%;
    float:left;
    list-style:none;
}
#navigation-item li{
    margin-right: 1em;
    margin-left: 1em;
}
#navigation-item a{
    color: aliceblue;
    letter-spacing: 0.2em;
    text-decoration: none;
}
#navigation-item a:hover{
    color: aliceblue;
    font-size: 1.5em;
    letter-spacing: 0.2em;
    text-decoration: none;
}
.right-span{
    float: right;
}
.left-span{
    float: left;
}
.left-span a{
    color: antiquewhite;
    font-size: 1.8em;
    letter-spacing: 0.4em;
    margin-top:0.1em;
    margin: 0.2em;
    text-decoration: none;
}
.left-span a:hover{
    color: rgb(204, 186, 161);
    letter-spacing: 0.6em;

}
#foter-bar{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: darkslategrey;
    color: azure;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 5%;
}
#body-div{
    height: 80%;
    width: 100%;
    background-color: bisque;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-top: 5.3%;
    padding: 0.5%;
}
#body-div img{
    border-radius: 3px;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 100%;
  height: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
